<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="navigation">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
			<div th:if="${community}" th:object="${community}">
				<div sec:authorize="hasRole('ROLE_GUEST')">
					<a class="navbar-brand" th:href="@{/}" title="Community homepage"
						data-toggle="tooltip"><img th:src="@{/img/gitlab-icon.png}"
						height="30" alt="GitLab logo"><span class="ml-2"
						th:text="*{name}">GitLab Community</span></a>
				</div>
				<div sec:authorize="!hasRole('ROLE_GUEST')">
					<a class="navbar-brand" th:href="@{/}" title="Community homepage"
						data-toggle="tooltip"> <img th:if="*{avatar}"
						th:src="*{avatar}" height="30" alt="Group avatar"> <img
						th:unless="*{avatar}" th:src="@{/img/gitlab-icon.png}" height="30"
						alt="GitLab logo"> <span class="ml-2" th:text="*{name}">GitLab
							Community</span></a>
				</div>
			</div>
			<div th:unless="${community}">
				<a class="navbar-brand"
					th:href="${@environment.getProperty('gitlab.server-url')}"
					title="GitLab server" data-toggle="tooltip"><img
					th:src="@{/img/gitlab-icon.png}" height="30" alt="GitLab logo"><span
					class="ml-2">GitLab Community</span></a>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a class="nav-item nav-link" th:href="@{/members}"
						title="All members in this community" data-toggle="tooltip">Members</a>
					<a class="nav-item nav-link" th:href="@{/topics}"
						title="All topics in this community" data-toggle="tooltip">Topics</a>
				</div>

				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" th:if="${community.onlineHelpUri}"
						th:href="${community.onlineHelpUri}" title="Online help"
						data-toggle="tooltip"><i class="fa fa-question-circle"></i></a>

					<div class="nav-item dropdown"
						sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="nav-link dropdown-toggle" href="#"
							data-toggle="dropdown"><i class="fa fa-cog"
							title="Administration" data-toggle="tooltip"></i></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" th:href="@{/topics/new}"><i
								class="fa fa-plus-circle mr-1"></i>Create new topic</a> <a
								class="dropdown-item"
								th:if="${create == null && topic != null && topic.path != null}"
								th:href="@{/topics/{path}/edit(path=${topic.path})}"> <i
								class="fa fa-pencil-square-o mr-1"></i>Edit current topic
							</a>
						</div>
					</div>

					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#"
							data-toggle="dropdown"> <img
							th:if="${#authentication.authorities[0].userInfo.claims['picture']}"
							class="rounded-circle"
							th:src="${#authentication.authorities[0].userInfo.claims['picture']}"
							width="30" height="30" alt="avatar"
							th:title="|Authenticated user '${#authentication.name}'|"
							data-toggle="tooltip" /> <img
							th:unless="${#authentication.authorities[0].userInfo.claims['picture']}"
							class="rounded-circle" th:src="@{/img/no-avatar.png}" width="30"
							height="30" alt="avatar"
							th:title="|Authenticated user '${#authentication.name}'|"
							data-toggle="tooltip" />
						</a>
						<form class="form-inline" th:action="@{/logout}" method="post">
							<ul class="dropdown-menu dropdown-menu-right">
								<li sec:authorize="!hasRole('ROLE_GUEST')"><a
									class="dropdown-item"
									th:href="@{/members/{name}(name=${#authentication.name})}"><i
										class="fa fa-user-o mr-1"></i>Profile</a></li>
								<li sec:authorize="!hasRole('ROLE_GUEST')"
									class="divider dropdown-divider"></li>
								<li><button class="dropdown-item btn" type="submit">
										<i class="fa fa-power-off mr-1"></i>Logout
									</button></li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
