<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title>Home</title>
</head>
<body>
	<div layout:fragment="content" th:unless="${community} == null"
		th:object="${community}">

		<div th:if="${errorMessage}"
			class="alert alert-danger alert-dismissible fade show">
			<i class="fa fa-exclamation-triangle mr-1"></i> <span
				th:text="${errorMessage}"></span>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div sec:authorize="hasRole('ROLE_GUEST')"
			th:if="*{spectatorModeMessage}"
			class="alert alert-warning alert-dismissible fade show">
			<i class="fa fa-info-circle mr-1"></i> <span
				th:utext="*{spectatorModeMessage}">Spectator mode</span>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body text-center">
						<img title="GitLab group avatar" data-toggle="tooltip"
							class="avatar rounded-circle"
							th:src="*{avatar != null && !#authorization.expression('hasRole(''ROLE_GUEST'')')} ? @{*{avatar}}: @{/img/no-image.png}"
							alt="avatar" />
						<h4 title="Community name" data-toggle="tooltip" th:text="*{name}"
							class="card-title">Name</h4>
						<div sec:authorize="hasRole('ROLE_GUEST')">
							<h6 class="card-subtitle mb-2 text-muted">
								<a title="GitLab server" data-toggle="tooltip"
									th:href="${@environment.getProperty('gitlab.server-url')}"
									th:text="|@*{path}|"></a>
							</h6>
						</div>
						<div sec:authorize="!hasRole('ROLE_GUEST')">
							<h6 class="card-subtitle mb-2 text-muted">
								<a title="Community GitLab group" data-toggle="tooltip"
									th:href="*{profile}" th:text="|@*{path}|"></a>
							</h6>
						</div>
						<p title="Community description" data-toggle="tooltip"
							th:text="*{description}" class="card-text">Description</p>
						<div class="mt-4">
							<a title="Community members" data-toggle="tooltip"
								th:if="${members.size() > 0}" th:href="@{/members}"
								class="btn btn-primary" th:text="|Members (${members.size()})|">Members</a>
							<a title="Community topics" data-toggle="tooltip"
								th:if="${topics.size() > 0}" th:href="@{/topics}"
								class="btn btn-primary" th:text="|Topics (${topics.size()})|">Topics</a>
							<span sec:authorize="!hasRole('ROLE_GUEST')"> <a
								title="Mattermost team of this community" data-toggle="tooltip"
								th:href="${teamUrl}" class="btn btn-info">Chat</a>
								<button data-toggle="modal"
									data-target="#email-addresses-dialog" class="btn btn-info">Mail</button>
							</span>
							<div
								th:replace="~{fragments/email-addresses-dialog.html :: email-addresses-dialog(${members})}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>