<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title>Member</title>
</head>
<body>
	<div layout:fragment="content" th:unless="${member} == null">

		<div th:if="${errorMessage}"
			class="alert alert-danger alert-dismissible fade show">
			<span th:text="${errorMessage}"></span>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="row">
			<div class="col-md-12" th:object="${member}">
				<div class="card">
					<div class="card-body text-center">
						<img title="GitLab user avatar" data-toggle="tooltip"
							class="avatar rounded-circle"
							th:src="*{avatar} ? @{*{avatar}}: @{/img/no-avatar.png}"
							alt="avatar" />
						<h4 title="Full name" data-toggle="tooltip" th:text="*{name}"
							class="card-title">Name</h4>
						<h6 class="card-subtitle mb-2 text-muted">
							<a title="GitLab profile" data-toggle="tooltip"
								th:href="*{profile}" th:text="|@*{username}|"></a> <span>&middot;</span>
							<span title="User joined this day" data-toggle="tooltip"
								th:if="*{joined}"
								th:text="|Member since ${#temporals.format(member.joined, 'dd. MMM yyyy')}"></span>
						</h6>
						<p title="GitLab user biography" data-toggle="tooltip"
							th:if="*{bio}" th:text="*{bio}" class="card-text">Bio</p>
						<hr th:if="${topics.size() > 0}">
						<h6>
							<span th:each="topic, i : ${topics}" th:object="${topic}">
								<a title="Topic profile" data-toggle="tooltip"
								th:href="@{/topics/{path}(path=*{path})}" th:text="*{name}"></a>
								<span th:unless="${i.last}">&middot;</span>
							</span>
						</h6>
						<div class="mt-4 text-center">
							<a title="Topics this user is interested in"
								data-toggle="tooltip" th:if="${topics.size() > 0}"
								th:href="@{/members/{username}/topics(username=*{username})}"
								class="btn btn-primary" th:text="|Topics (${topics.size()})|">Topics</a>
							<span
								th:unless="${#authentication.name == member.username} or ${#authorization.expression('hasRole(''ROLE_GUEST'')')}">
								<a title="Mattermost direct chat with this user"
								data-toggle="tooltip"
								th:href="@{{teamUrl}/messages/@{username}(teamUrl=${teamUrl}, username=*{username})}"
								class="btn btn-info">Chat</a> <a
								title="Create mail for this user" data-toggle="tooltip"
								th:href="|mailto:*{email}|" class="btn btn-info">Mail</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>