<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title>Members</title>
</head>
<body>
	<div layout:fragment="content">
		<h2
			th:text="${topic != null} ? |Members of ${topic.name}| : 'Members'"
			class="mb-4">Members</h2>

    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show">
      <span th:text="${errorMessage}"></span>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

		<table class="table table-hover table-bordered">
			<thead class="thead-dark">
				<tr>
					<th th:text="#{title.username}" class="col-2" />
					<th th:text="#{title.name}" class="col-6" />
          <th th:if="${memberTopics}" th:text="#{title.topics}" class="col-1" />
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${membersPage.content}" th:object="${member}">
					<td class="col-2"><a th:href="@{/members/{username}(username=*{username})}"
						th:text="*{username}"></a></td>
					<td th:text="*{name}" class="col-6" />
          <td th:if="${memberTopics}" class="col-1"><span
            th:text="${memberTopics.get(member.username).size()}">5</span></td>
				</tr>
			</tbody>
		</table>
		<div
			th:replace="fragments/pagination :: pagination(${membersPage}, ${topic != null} ? |/topics/${topic.path}/members| : '/members', ${10})"></div>

		<div th:if="${topic != null}" class="mt-4 text-center">
			<a th:href="@{/topics/{path}(path=${topic.path})}"
				class="btn btn-primary">Topic</a>
		</div>
	</div>
</body>
</html>