<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title>Topic</title>
</head>
<body>
	<div layout:fragment="content" th:unless="${topic} == null">

		<div th:if="${errorMessage}"
			class="alert alert-danger alert-dismissible fade show">
			<i class="fa fa-exclamation-triangle mr-1"></i> <span
				th:text="${errorMessage}"></span>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="row">
			<div class="col-md-12" th:object="${topic}">
				<form
					th:action="@{/topics/{path}/{action}(path=*{path}, action=${isTopicMember} ? 'leave' : 'join')}"
					method="post">
					<div class="card">
						<div class="card-body text-center">
							<img title="GitLab subgroup avatar" data-toggle="tooltip"
								class="avatar rounded-circle"
								th:src="*{avatar != null && !#authorization.expression('hasRole(''ROLE_GUEST'')')} ? @{*{avatar}}: @{/img/no-image.png}"
								alt="avatar" />
							<h4 title="Topic name" data-toggle="tooltip" th:text="*{name}"
								class="card-title">Name</h4>
							<h6 class="card-subtitle mb-2 text-muted">
								<a title="Topic GitLab group" data-toggle="tooltip"
									th:href="*{profile}" th:text="|@*{path}|"></a> <span>&middot;</span>
								<span title="Topic creation date" data-toggle="tooltip"
									th:if="*{createAt}"
									th:text="|Created ${#dates.format(topic.createAt, 'dd. MMM yyyy')}"></span>
							</h6>
							<p title="Topic description" data-toggle="tooltip"
								th:text="*{description}" class="card-text">Description</p>
							<hr th:if="${members.size() > 0}">
							<h6>
								<span th:each="member, i : ${members}" th:object="${member}">
									<a title="Topic member profile" data-toggle="tooltip"
									th:href="@{/members/{username}(username=*{username})}"
									th:text="*{name}"></a> <span th:unless="${i.last}">&middot;</span>
								</span>
							</h6>
							<div class="mt-4">
								<input type="submit"
									th:title="${isTopicMember} ? 'Leave this topic' : 'Join this topic'"
									data-toggle="tooltip"
									th:if="${!#authorization.expression('hasRole(''ROLE_GUEST'')')}"
									class="btn btn-primary"
									th:classappend="${isTopicMember} ? 'btn-danger' : 'btn-success'"
									th:value="${isTopicMember} ? 'Leave' : 'Join'"> <a
									title="Topic members" data-toggle="tooltip"
									th:if="${members.size() > 0}"
									th:href="@{/topics/{path}/members(path=*{path})}"
									class="btn btn-primary" th:text="|Members (${members.size()})|">Members</a>
								<span
									th:unless="${#authorization.expression('hasRole(''ROLE_GUEST'')')} or !${isTopicMember}">
									<a title="Mattermost private channel for this topic"
									data-toggle="tooltip"
									th:href="@{{teamUrl}/channels/{path}(teamUrl=${teamUrl}, path=*{path})}"
									class="btn btn-info">Chat</a>
									<button type="button" data-toggle="modal"
										data-target="#email-addresses-dialog" class="btn btn-info">Mail</button>
								</span>
								<div
									th:replace="~{fragments/email-addresses-dialog.html :: email-addresses-dialog(${members})}"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>